/* style.css */
body {
      min-height: 100%;
      margin: 0;
    background: linear-gradient(to bottom, #02060e, #0356c5);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Space Mono', monospace;
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: #ffffff;
}

.gambar-kanan {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 80px;
  height: auto;
}